.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--header-height);
    background: var(--color-surface);
    backdrop-filter: blur(20px) saturate;
    -webkit-backdrop-filter: blur
    (20px) saturate(180%)
    border-botttom: 1px solid var(--color-border)
}